$color-primary: #F2785C;
$color-primary-light:rgba(242, 120, 92, 0.5);
$color-secondary: #0D606F;
$color-light: #FFFFFF;
$color-hover: #978690;
$content-width: 1177px;
$tablet-width: 768px;
$mobile-width: 320px;