@mixin font ($size, $weight, $height, $color, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin svg ($width, $height, $img, $repeat: no-repeat, $size: cover) {
  background-image: $img;
  background-repeat: $repeat;
  background-size: $size;
  width: $width;
  height: $height;
}