html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Aleo', serif;
}

.promo {
  background-image: url(/assets/img/promo-img.png);
  background-repeat: no-repeat;
}

.header {
  background-color: rgba(242, 120, 92, 0.7);
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navigation {
  list-style: none;
  display: flex;
}

li {
  padding-right: 42px;
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  font-weight: 500;
  line-height: 21px;
}

.button_colored {
  background-color: #0D606F;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}