.travel__background {
  background-image: url(/assets/img/travel-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 61px;
}

.travel__filter {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #000000;
  @include media-mobile {
    border: none;
  }
}