.slider {
  overflow: hidden;
  // position: relative;
}

.slider__wrapper {
  position: relative;
}

.image {
  border-radius: 16px;
  margin: 0 30px;
  @include media-mobile {
    width: calc(100% - 30px);
    height: 210px;
    margin: 0;
  }
  // @include media-mobile {
  //   width: 290px;
  // }
}

.slider__images {
  @extend %transition;
  display: flex;
  transform: translateX(0%);
  justify-content: center;
  margin: 0 0 24px;
  @include media-mobile {
    margin: 0;
    display: block;
    padding: 0;
    display: inline-flex;
    transform: translateX(-20%);
  }
  transition: all 2s ease-in-out 0s;
}

.slider__image {
  height: 800px;
  position: relative;
  @include media-mobile {
    width: 100vw;
    height: 210px;
    display: flex;
    justify-content: center;
    // padding: 0 15px 38px;
  }
}

.slider__slide-number-identifier {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-mobile {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  // @include media-small {
  //   left: 115px;
  // }
}


.slide-number-identifier {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $color-primary-light;
  border: none;
  margin: 0 5px;
  &_selected {
    background: $color-primary;
  }
  @include media-mobile {
    width: 8px;
    height: 8px;
    padding: 0!important;
    margin: 0 3px;
  }
}

.slider__slide-number-identifier {
  text-align: center;
  margin-bottom: 40px;
  @include media-mobile {
    margin: 0 0 22px;
  }
}

.switch__button {
  width: 25px;
  height: 25px;
  &_left {
  border-top: solid 5px rgba(242, 120, 92, 0.5);
  border-left: solid 5px rgba(242, 120, 92, 0.5);
  transform: rotate(-45deg);
    &_clicked {
      border-top: solid 5px $color-primary;
      border-left: solid 5px $color-primary;
    }
  }
  &_right {
  border-top: solid 5px rgba(242, 120, 92, 0.5);
  border-right: solid 5px rgba(242, 120, 92, 0.5);
  transform: rotate(45deg); 
    &_clicked {
      border-top: solid 5px $color-primary;
      border-right: solid 5px $color-primary;
    }
  }
}

.image__text {
  @include font (32px, 500, 42px, $color-light);
  @extend %font-secondary;
  position: absolute;
  bottom: 40px;
  left: 45px;
  @include media-mobile {
    font-size: 2rem;
    top: 8px;
    left: 30px;
  }
}

.slider__switcher {
  position: absolute;
  top: calc(210px - 50%);
  display: flex;
  left: 10px;
  width: calc(100% - 70px);
  justify-content: space-between;
  padding: 0 26px;
  // @include media-small {
  //   width: 240px;
  // }
}

.image-wrapper {
  padding: 0 15px;
}

.search-button {
  text-align: center;
}

.slider__direction {
  height: 800px;
  width: 400px;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1;
}

.left-direction{
  left: 0;
}

.right-direction {
  right: 0;
}