.slider {
  overflow: hidden;
  // position: relative;
}

.slider__wrapper {
  position: relative;
}

.image {
  border-radius: 16px;
  margin: 0 30px;
  @include media-mobile {
    width: calc(100% - 30px);
    height: 210px;
    margin: 0;
  }
  // @include media-mobile {
  //   width: 290px;
  // }
}

.slider__images {
  display: flex;
  transform: translateX(0%);
  justify-content: center;
  margin: 0 0 24px;
  @include media-mobile {
    margin: 0;
    display: block;
    padding: 0;
    display: inline-flex;
  }
}

.slider__image {
  height: 800px;
  position: relative;
  @include media-mobile {
    width: 100vw;
    height: 210px;
    display: flex;
    justify-content: center;
    // padding: 0 15px 38px;
  }
}

.slider__buttons-round {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-mobile {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  // @include media-small {
  //   left: 115px;
  // }
}

.image__text {
  @include font (32px, 500, 42px, $color-light);
  @extend %font-secondary;
  position: absolute;
  bottom: 40px;
  left: 45px;
  @include media-mobile {
    font-size: 2rem;
    top: 8px;
    left: 30px;
  }
}

.slider__switch {
  position: absolute;
  top: calc(210px - 50%);
  display: flex;
  left: 10px;
  width: calc(100% - 70px);
  justify-content: space-between;
  padding: 0 26px;
  // @include media-small {
  //   width: 240px;
  // }
}

.image-wrapper {
  padding: 0 15px;
}

.search-button {
  text-align: center;
}