.step {
  display: inline-flex;
  flex-direction: column;
  &_1 {
    align-items: flex-start;
    text-align: start;
  }
  &_2 {
    align-items: center;
    text-align: center;
  }
  &_3 {
    align-items: flex-end;
    text-align: end;
  }
}

.steps__title {
  margin: 80px 0 40px;
}

.step__p {
  margin: 30px 0 0 0;
  @include media-mobile {
    margin: 19px 0 0;
    line-height: 1.2rem;
  }
}

.steps {
  padding: 0 0 100px 0;
  @include media-mobile {
    padding: 0;
  }
}