.stories__card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  &:first-child {
    padding-top: 40px;
  }
  &:last-child {
    padding-bottom: 0px;
  }
  @include media-mobile {
    padding-bottom: 15px;
      &:first-child {
        padding-top: 0px;
      }
  }
}
.stories__image {
  display: inline-flex;
  align-items: center;
  >* {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    @include media-mobile {
      width: 155px;
      height: 130px;
    }
  }
}

.stories__content {
  @include media-mobile {
    margin: 0;
    padding: 10px 0;
  }
}

.stories__content_text {
  width: 760px;
  @include media-mobile {
    margin-left: 10px;
  }
}

.stories__wrapper {
  max-width: 1200px;
  @include media-mobile {
    padding-bottom: 13px;
  }
}

.stories__p {
  margin: 0;
  &::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit...";
  }
  @include media-mobile {
  font-size: 0.9rem;
  line-height: 1.1rem;
  max-height: 102px;
    &::before {
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.Lorem ipsum dolor sit a...";
    }
  }
  // @include media-small {
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   width: 125px;
  // }
}

.stories__link {
  @include font(20px, 700, 24px, $color-secondary);
  text-decoration: underline;
  @include media-mobile {
    font-size: 9px;
    line-height: 10px;
  }
}

.stories__button {
  display: flex;
  justify-content: center;
  margin: 40px 0 41px;
  @include media-mobile {
    margin: 0;
  }
}

.stories__h2 {
  padding-top: 80px;
}