.stories__image {
  display: inline-flex;
  align-items: center;
  >* {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
  }
}

.stories__content {
  margin-left: 40px;
}

.stories__wrapper {
  max-width: 1200px;
}

.stories__p {
  margin: 0;
}

.stories__link {
  @include font(20px, 700, 24px, $color-secondary);
}

.stories__button {
  display: flex;
  justify-content: center;
  margin: 40px 0 41px;
}