html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  @extend %font-primary;
}

h1 {
  @include font(80px, 700, 96px, $color-light);
  @extend %font-primary;
}

h2 {
  @include font(40px, 500, 53px, $color-primary);
  @extend %font-secondary;
  @extend %text-center;
  margin: 0;
}

h3 {
  @include font(35px, 500, 42px, $color-secondary);
  @extend %font-secondary;
}

p {
  @include font(20px, 400, 24px, $color-secondary);
  @extend %font-primary;
}