html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  @extend %font-primary;
  position: relative;
  margin: 0;
}

h1 {
  @include font(8rem, 700, 9.6rem, $color-light);
  @extend %font-primary;
}

h2 {
  @include font(4rem, 500, 5.3rem, $color-primary);
  @extend %font-secondary;
  @extend %text-center;
  margin: 0 0 40px;
  @include media-mobile {
    font-size: 1.4rem;
    margin: 0 20px!important;
    padding: 0!important;
  }
}

h3 {
  @include font(3.5rem, 500, 4.2rem, $color-secondary);
  @extend %font-secondary;
  margin: 0 0 24px;
  @include media-mobile {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: 0 0 10px;
    font-weight: 700;
  }
}

p {
  @include font(2rem, 400, 2.4rem, $color-secondary);
  @extend %font-primary;
  @include media-mobile {
    font-size: 1rem;
  }
}