.button {
  border-radius: 10px;
  @extend %font-secondary;
  font-weight: 500;
  line-height: 2.1rem;
  @extend %transition;
  cursor: pointer;
  &_colored {
    padding: 19.5px 32.5px ;
    font-size: 2.4rem;
    background-color: $color-secondary;
    color: $color-light;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    &:hover {
      filter: drop-shadow(2px 4px 6px grey);
      color: $color-hover;
    }
    @include media-mobile {
      font-size: 1.1rem;
      padding: 0;
      white-space: nowrap;
      width: 92px;
      height: 30px;
    }
    @include media-small {
      font-size: 1rem;
    }
  }
}

.button_colored_small {
  @extend %font-secondary;
  padding: 10px 30px 10px 30px;
  font-size: 1.6rem;
  background-color: $color-secondary;
  color: $color-light;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  &:hover {
    filter: drop-shadow(2px 4px 6px grey);
    color: $color-hover;
  }
  @include media-mobile {
    display: none;
  }
}

.button_round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $color-primary-light;
  border: none;
  margin: 0 5px;
  &_selected {
    background: $color-primary;
  }
  @include media-mobile {
    width: 8px;
    height: 8px;
    padding: 0!important;
    margin: 0 3px;
  }
}

.buttons_round {
  margin-bottom: 40px;
  @include media-mobile {
    margin: 0 0 22px;
  }
}

.switch__button {
  width: 25px;
  height: 25px;
  &_left {
  border-top: solid 5px rgba(242, 120, 92, 0.5);
  border-left: solid 5px rgba(242, 120, 92, 0.5);
  transform: rotate(-45deg);
    &_clicked {
      border-top: solid 5px $color-primary;
      border-left: solid 5px $color-primary;
    }
  }
  &_right {
  border-top: solid 5px rgba(242, 120, 92, 0.5);
  border-right: solid 5px rgba(242, 120, 92, 0.5);
  transform: rotate(45deg); 
    &_clicked {
      border-top: solid 5px $color-primary;
      border-right: solid 5px $color-primary;
    }
  }
}