%hamburger-line {
  content: "";
  height: 2.67px;
  background-color: $color-light;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.hamburger {
  display: none;
  width: 26.25px;
  height: calc(10.67px + 2.67px + 2.67px);
  position: relative;
  &::before {
    @extend %hamburger-line;
    top: -1px;
  }
  &::after {
    @extend %hamburger-line;
    bottom: 0;
  }
  @include media-mobile {
    display: inline-block;
  }
}

.hamburger__line {
  top: calc(50% - 2px);
  @extend %hamburger-line;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  width: 165px;
  background-color: $color-primary;
  @include media-mobile {
    display: block;
  }
}

.menu-list {
  list-style: none;
  margin: 44px 15px 30px 44px;
  padding: 0;
}

.menu-list__link {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  a {
  text-decoration: none;
  list-style: none;
  @include font(1.6rem, 500, 2.1rem, $color-light);
  @extend %font-secondary;
  white-space: nowrap;
  }
}

.close-icon {
  background-image: url("/assets/img/close.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 16px;
}
