.header {
  background-color: rgba(242, 120, 92, 0.7);
  position: absolute;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  @include media-mobile {
    background: none;
    box-shadow: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  @include media-mobile {
    padding: 43px 16px;
  }
}

.header__navigation {
  @include media-mobile {
    display: none;
  }
}
