.header {
  background-color: rgba(242, 120, 92, 0.7);
  position: absolute;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navigation {
  display: flex;
}

.navigation__link {
  list-style: none;
  padding-right: 42px;
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.navigation__link:hover {
  color: $color-hover;
}